html,body{
	margin: auto;
	padding: auto;
	background-color: hsl(60, 39%, 85%);
	overflow: auto;
}

.jumbotron-header{
	background: url("images/photo1.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	height: calc(100vh);
	border-radius: 0;
	margin-bottom: 0;
	background-attachment: fixed;
}

.navFix{
	position: fixed;
	top:0;
	background: transparent;
	width:100%;
	height: 60px;
}

 .navFix{
 	background-color: #827a63 !important;
 	height: auto;
 }

li{
	margin-right: 15px;
}

.navbar-hamburger{
	font-size: 25px;
	font-weight: 600;
	color: black;
	padding-left: 10px; 
}

.navbar-hamburger:hover{
	text-decoration: none;
	color:black;
}

.a-link{
	color:white;
	font-size: 20px;
}

.hero-text{
    display:inline-block ;
    margin: 400px 0px 20px 0px;
    padding: 20px 35px;
    font-size: 33px;
    font-style: italic;
    background-color: hsl(45, 14%, 55%);
    opacity: 0.8;
}

.description{
    background-color: beige;
	padding: 15px;
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	border:2px solid black;
}

.food{
	font-weight: 700;
	font-size: 18px;
	display: inline-block;
	padding: 40px 70px;
    margin:30px 50px;
    border: 3px dashed black;
    background-color: hsl(45, 14%, 55%);
    text-align:justify;
}

.recipe{
	color:hsl(0, 9%, 48%);    
    margin-top: 10px;
}

.recipe h3{
    display: block;
	text-align: center;
	font-style: italic;
	font-weight: 800;
	background-color: #827a63;
	color:beige;
	padding: 10px 0px;
}

.recipe a{
    text-decoration: none;
}

.recipe a:hover h3{
    color:black;
}


.recipe img{
    display: inline;
    height: 300px;
    width: 400px;
    padding-left:80px;
}


form{
	border:2px solid black;
	padding: 30px 60px;
	margin-top: 40px;
	margin-bottom: 20px;
}

form p{
	
	font-size: 19px;
	font-weight: bold;
	font-style: italic;
}

.btn{
    background-color: #827a63;
}

.btn:hover{
    background-color:  hsl(0, 9%, 48%);
    color:white;
}

footer p{
	font-size: 12px;
	background-color: hsl(45, 14%, 55%);
	color:white;
	padding: 5px;
	margin-bottom: 0;
	text-align: center;
}