form {
  /* Rounded Inputs *//* Grouped Inputs */
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea {
  padding: 0.5em 0.6em;display: inline-block;border: 1px solid #ccc;font-size: 0.8em;box-shadow: inset 0 1px 3px #dddddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;-o-border-radius: 4px;border-radius: 4px;-webkit-transition: 0.3s border linear;-moz-transition: 0.3s border linear;-ms-transition: 0.3s border linear;-o-transition: 0.3s border linear;transition: 0.3s border linear;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-font-smoothing: antialiased;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
  outline: 0;outline: thin dotted \9;/* IE6-9 */border-color: #129FEA;
}
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
  cursor: not-allowed;background-color: #eaeded;color: #cad2d3;
}
form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
  outline: thin dotted #333333;outline: 1px auto #129FEA;
}
form input[type="file"]:focus:invalid:focus,
form input[type="radio"]:focus:invalid:focus,
form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
form .pure-checkbox,
form .pure-radio {
  margin: 0.5em 0;display: block;
}
form input[readonly],
form select[readonly],
form textarea[readonly] {
  background: #eee;color: #777;border-color: #ccc;
}
form input[readonly]:focus,
form select[readonly]:focus,
form textarea[readonly]:focus {
  background: #eee;color: #777;border-color: #ccc;
}
form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
  color: #b94a48;border: 1px solid #ee5f5b;
}
form input:focus:invalid:focus,
form textarea:focus:invalid:focus,
form select:focus:invalid:focus {
  border-color: #e9322d;
}
form select {
  border: 1px solid #ccc;background-color: #fff;
}
form select[multiple] {
  height: auto;
}
form label {
  margin: 0.5em 0 0.2em;font-size: 90%;
}
form fieldset {
  margin: 0;padding: 0.35em 0 0.75em;border: 0;
}
form legend {
  display: block;width: 100%;padding: 0.3em 0;margin-bottom: 0.3em;font-size: 125%;color: #333;border-bottom: 1px solid #e5e5e5;
}
form input.pure-input-rounded,
form .pure-input-rounded {
  -webkit-border-radius: 2em;-moz-border-radius: 2em;-ms-border-radius: 2em;-o-border-radius: 2em;border-radius: 2em;padding: 0.5em 1em;
}
form .pure-group fieldset {
  margin-bottom: 10px;
}
form .pure-group input {
  display: block;padding: 10px;margin: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;position: relative;top: -1px;
}
form .pure-group input:focus {
  z-index: 2;
}
form .pure-group input:first-child {
  top: 1px;-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;-ms-border-radius: 4px 4px 0 0;-o-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;
}
form .pure-group input:last-child {
  top: -2px;-webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px;-ms-border-radius: 0 0 4px 4px;-o-border-radius: 0 0 4px 4px;border-radius: 0 0 4px 4px;
}
form .pure-group button {
  margin: 0.35em 0;
}
form .pure-input-1 {
  width: 100%;
}
form .pure-input-2-3 {
  width: 66%;
}
form .pure-input-1-2 {
  width: 50%;
}
form .pure-input-1-3 {
  width: 33%;
}
form .pure-input-1-4 {
  width: 25%;
}
form .pure-help-inline {
  display: inline-block;padding-left: 0.3em;color: #666;vertical-align: middle;font-size: 90%;
}
.btn {
  font-size: 100%;*font-size: 90%;/*IE 6/7 - To reduce IE's oversized button text*/*overflow: visible;/*IE 6/7 - Because of IE's overly large left/right padding on buttons */padding: 0.5em 1.5em 0.5em;color: #444;/* rgba not supported (IE 8) */color: rgba(0, 0, 0, 0.8);/* rgba supported */*color: #444;/* IE 6 & 7 */border: 1px solid #999;/*IE 6/7/8*/border: none #000;/*IE9 + everything else*/background-color: #e6e6e6;text-decoration: none;border-radius: 2px;-webkit-font-smoothing: antialiased;-webkit-transition: 0.1s box-shadow linear;-moz-transition: 0.1s box-shadow linear;-ms-transition: 0.1s box-shadow linear;-o-transition: 0.1s box-shadow linear;transition: 0.1s box-shadow linear;
}
.btn:hover,
.btn:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
.btn:focus {
  outline: 0;
}
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
.btn[disabled] {
  border: none;background-image: none;filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);filter: alpha(opacity=40);-khtml-opacity: 0.4;-moz-opacity: 0.4;opacity: 0.4;cursor: not-allowed;box-shadow: none;
}
.btn::-moz-focus-inner {
  padding: 0;border: 0;
}
form {
  border: 2px solid black;
  padding: 30px 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}
form p {
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
}
.btn {
  background-color: #827a63;
}
.btn:hover {
  background-color: hsl(0, 9%, 48%);
  color: white;
}
@media screen and (max-width: 300px) {
  form {
    padding: 30px 15px;
  }
}
