.food {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  padding: 40px 70px;
  margin: 30px 50px;
  width: 70%;
  border: 3px dashed black;
  background-color: hsl(45, 14%, 55%);
  text-align: justify;
}
