footer p {
  font-size: 15px;
  background-color: hsl(45, 14%, 55%);
  color: white;
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 880px) {
  footer p {
    font-size: 12px;
    padding: 10px;
  }
}
