.jumbotron-header {
  background: url("images/photo1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  border-radius: 0;
  margin-bottom: 0;
  background-attachment: fixed;
}
.hero-text p {
  display: inline-block;
  margin: 400px 0px 20px 0px;
  padding: 20px 35px;
  font-size: 33px;
  font-style: italic;
  background-color: hsl(45, 14%, 55%);
  opacity: 0.8;
}
@media screen and (max-width: 300px) {
  .hero-text p {
    margin: 20px 0px 20px 0px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
  }
}
@media screen and (max-width: 600px) {
  .hero-text p {
    margin: 200px 0px 20px 0px;
    padding: 20px 25px;
    font-size: 25px;
    font-weight: bold;
  }
}
