.jumbotron-header {
  background: url("images/photo1.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  height: calc(100vh);
  border-radius: 0;
  margin-bottom: 0;
  background-attachment: fixed;
}
.hero-text {
  display: inline-block;
  margin: 400px 0px 20px 0px;
  padding: 20px 35px;
  font-size: 33px;
  font-style: italic;
  background-color: hsl(45, 14%, 55%);
  opacity: 0.8;
}
